/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');
/* Mobile small device  */
@media screen and (min-width: 350px) {
  * {
    margin: 0;
  }
  body {
    background: #ffffff;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
  }
  h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 32px 16px;
    color: #151515;
  }
  p {
    margin: 32px 16px;
    color: #444444;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
  }
  a {
    text-decoration: none;
    margin: 0px 16px 120px;
    display: flex;
  }
  a span {
    background: #151515;
    color: white;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    /* line-height: 24px; */
    padding: 24px 35px 24px 32px;
    text-transform: uppercase;
  }
  a img {
    background-color: #d5966c;
    padding: 24px;
    align-self: center;
  }
}
